# vs code
# vs-code
.history/

# maven
target/

# node/npm
node_modules/

# mac
.DS_Store

# scala
.bsp/
.metals/

# Gradle
.gradle/
build

# IntelliJ Idea
.idea/*
!.idea/runConfigurations/

# miscs
perf_kt/**/bin/
